:root {
    --white: #FFFFFF;
    --gray-100: #E1E1E6;
    --gray-300: #CACACC;
    --gray-400: #8D8D99;
    --gray-600: #7C7C8A;
    --gray-700: #323238;
    --gray-800: #202024;
    --gray-900: #121214;

    --green-300: #00B37E;
    --green-500: #00875f;

    --red-500: #F75A68;
}

:focus {
    outline: transparent;
    box-shadow: 0 0 0 2px var(--green-500);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--gray-900);
    color: var(--gray-300);
}

body, input, textarea, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}